*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    background: #7872723e;
    padding: 30px;
    margin: 0 auto;
}

.button-container{
    height: 100px;
    display: flex;
}
